<!DOCTYPE html>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
            <span class="navbar-brand">
                Websites
            </span>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/new"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-plus"
                          aria-hidden="true"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                        <span class="glyphicon glyphicon-user"
                              aria-hidden="true"></span>
                </a>
            </p>
            <!--<p class="navbar-text pull-left">-->
                <!--<input class="jw-card-toggle btn btn-xs"-->
                       <!--data-size="mini"-->
                       <!--data-on="Card"-->
                       <!--data-off="List"-->
                       <!--type="checkbox"-->
                       <!--checked-->
                       <!--data-toggle="toggle" />-->
            <!--</p>-->
        </div>
    </div>
</nav>

<!--<div class="jw-card-group container">-->
    <!--<div class="row">-->
        <!--&lt;!&ndash; Repeated div elements &ndash;&gt;-->
        <!--<div ng-repeat="website in model.websites"-->
             <!--class="col-xs-6">-->
            <!--<div class="panel panel-default">-->
                <!--<img width="100%"-->
                     <!--src="https://i.kinja-img.com/gawker-media/image/upload/s&#45;&#45;NrtfWD7a&#45;&#45;/dw3l4m5ulgn6qqlhr7om.png" />-->
                <!--<div class="panel-heading">-->
                    <!--<a href="#/user/{{model.userId}}/website/{{website._id}}/page">-->
                        <!--<h5>{{website.name}}</h5>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-6 text-center">-->
                            <!--<a href="#/user/{{model.userId}}/website/{{website._id}}">-->
                                <!--<span class="glyphicon glyphicon-cog"-->
                                      <!--aria-hidden="true"></span>-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<div class="col-xs-6 text-center">-->
                            <!--<a href="">-->
                                <!--<span class="glyphicon glyphicon-play"-->
                                      <!--aria-hidden="true"></span>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="container">

    <div ng-show="model.success"
         class="alert alert-success"
         role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>{{model.success}}
    </div>

    <div ng-show="model.error"
         class="alert alert-danger"
         role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>{{model.error}}
    </div>

    <ul class="list-group">
        <!-- Repeated li elements -->
        <li ng-repeat="website in model.websites"
            class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{website._id}}/page">
                {{website.name}}
            </a>
            <a href=""
               class="pull-right">
                <span class="glyphicon glyphicon-play"
                      aria-hidden="true"></span>
            </a>
            <a href="#/user/{{model.userId}}/website/{{website._id}}"
               class="pull-right">
                <span class="glyphicon glyphicon-cog"
                      aria-hidden="true"></span>
            </a>
        </li>
    </ul>
</div>