<!DOCTYPE html>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-left">
                <button ng-click="model.back()"
                        class="navbar-link clear-button">
                        <span class="glyphicon glyphicon-chevron-left"
                              aria-hidden="true"></span>
                </button>
            </p>
            <span class="navbar-brand">
                Widget Edit
            </span>
            <p class="navbar-text pull-right">
                <button class="navbar-link clear-button"
                        ng-click="model.updateWidget()">
                    <span class="glyphicon glyphicon-ok"
                          aria-hidden="true"></span>
                </button>
            </p>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                        <span class="glyphicon glyphicon-user"
                              aria-hidden="true"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <div ng-show="model.success"
         class="alert alert-success"
         role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>{{model.success}}
    </div>

    <div ng-show="model.error"
         class="alert alert-danger"
         role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>{{model.error}}
    </div>

    <form name="editWidgetForm"
         novalidate>
        <div ng-switch="model.widget.type">

            <div ng-switch-when="HEADING">
                <h3>Heading</h3>
                <div class="form-group"
                     ng-class="{ 'has-error' : editWidgetForm.name.$invalid && editWidgetForm.$submitted}">
                    <label for="headingName">Name</label>
                    <input type="text"
                           ng-model="model.widget.name"
                           class="form-control"
                           id="headingName"
                           name="name"
                           placeholder="Heading Name"
                           required />
                    <span class="help-block"
                          ng-show="editWidgetForm.name.$invalid && editWidgetForm.$submitted">
                        Please provide a name.</span>
                </div>
                <div class="form-group">
                    <label for="headingBootstrapClass">Bootstrap Class</label>
                    <input ng-model="model.widget.class"
                           type="text"
                           class="form-control"
                           id="headingBootstrapClass"
                           placeholder="BootStrap class here" />
                </div>
                <div class="form-group">
                    <label for="headingText">Text</label>
                    <input ng-model="model.widget.text"
                           type="text"
                           class="form-control"
                           id="headingText"
                           placeholder="Heading Text" />
                </div>
                <div class="form-group">
                    <label for="size">Size</label>
                    <select class="form-control"
                            id="size"
                            ng-model="model.widget.size">
                        <option>1</option>
                        <option>2</option>
                        <option selected="selected">3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>

            <div ng-switch-when="INPUT">
                <h3>Text Input</h3>
                <div class="form-group"
                     ng-class="{ 'has-error' : editWidgetForm.name.$invalid && editWidgetForm.$submitted}">
                    <label for="inputName">Name</label>
                    <input type="text"
                           ng-model="model.widget.name"
                           class="form-control"
                           id="inputName"
                           name="name"
                           placeholder="Text Name"
                           required />
                    <span class="help-block"
                          ng-show="editWidgetForm.name.$invalid && editWidgetForm.$submitted">
                        Please provide a name.
                    </span>
                </div>
                <div class="form-group">
                    <label for="inputBootstrapClass">Bootstrap Class</label>
                    <input ng-model="model.widget.class"
                           type="text"
                           class="form-control"
                           id="inputBootstrapClass"
                           placeholder="BootStrap class here" />
                </div>
                <div class="form-group">
                    <label for="inputText">Text</label>
                    <input ng-model="model.widget.text"
                           type="text"
                           class="form-control"
                           id="inputText"
                           placeholder="Text input text value here" />
                </div>
                <div class="form-group">
                    <label for="inputRows">Rows</label>
                    <input class="form-control"
                           ng-model="model.widget.rows"
                           type="text"
                           placeholder="Text input number of rows here"
                           id="inputRows" />
                </div>
                <div class="form-group">
                    <label for="inputPlaceholder">Placeholder</label>
                    <input class="form-control"
                           ng-model="model.widget.placeholder"
                           type="text"
                           placeholder="Text input placeholder here"
                           id="inputPlaceholder" />
                </div>
                <div class="form-group">
                    <label for="inputFormatted">Formatted</label>
                    <div class="input-group"
                         id="inputFormatted">
                        <input type="text"
                               class="form-control"
                               value="Formatted"
                               aria-label="Text input with checkbox"
                               ng-disabled="true" />
                        <span class="input-group-addon">
                            <input ng-model="model.widget.formatted"
                                   type="checkbox"
                                   aria-label="Checkbox for following text input" />
                        </span>
                    </div>
                </div>
            </div>

            <div ng-switch-when="HTML">
                <h3>HTML</h3>
                <div class="form-group"
                     ng-class="{ 'has-error' : editWidgetForm.name.$invalid && editWidgetForm.$submitted}">
                    <label for="htmlName">Name</label>
                    <input type="text"
                           ng-model="model.widget.name"
                           class="form-control"
                           id="htmlName"
                           name="name"
                           placeholder="HTML Name"
                           required />
                    <span class="help-block"
                          ng-show="editWidgetForm.name.$invalid && editWidgetForm.$submitted">
                        Please provide a name.
                    </span>
                </div>
                <div class="form-group">
                    <label for="htmlBootstrapClass">Bootstrap Class</label>
                    <input ng-model="model.widget.class"
                           type="text"
                           class="form-control"
                           id="htmlBootstrapClass"
                           placeholder="BootStrap class here" />
                </div>
                <div class="form-group">
                    <label for="htmlText">Text</label>
                    <div ng-model="model.widget.text"
                         text-angular
                         id="htmlText"
                         ta-toolbar="[['h1', 'h2', 'h3'],
                                      ['bold', 'italics', 'underline', 'strikeThrough'],
                                      ['ul', 'ol'],
                                      ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                                      ['indent', 'outdent'],
                                      ['html']]"></div>
                </div>
            </div>

            <div ng-switch-when="IMAGE">
                <h3>Image</h3>
                <div class="form-group"
                     ng-class="{ 'has-error' : editWidgetForm.name.$invalid && editWidgetForm.$submitted}">
                    <label for="imageName">Name</label>
                    <input type="text"
                           class="form-control"
                           id="imageName"
                           name="name"
                           ng-model="model.widget.name"
                           placeholder="Image Name"
                           required />
                    <span class="help-block"
                          ng-show="editWidgetForm.name.$invalid && editWidgetForm.$submitted">
                        Please provide a name.
                    </span>
                </div>
                <div class="form-group">
                    <label for="imageBootstrapClass">Bootstrap Class</label>
                    <input ng-model="model.widget.class"
                           type="text"
                           class="form-control"
                           id="imageBootstrapClass"
                           placeholder="BootStrap class here" />
                </div>
                <div class="form-group">
                    <label for="imageText">Text</label>
                    <input type="text"
                           class="form-control"
                           id="imageText"
                           ng-model="model.widget.text"
                           placeholder="Image Text" />
                </div>
                <div class="form-group">
                    <label for="imageURL">URL</label>
                    <input type="text"
                           class="form-control"
                           id="imageURL"
                           ng-model="model.widget.url"
                           placeholder="Image URL" />
                </div>
                <div class="form-group">
                    <label for="imageWidth">Width</label>
                    <input type="text"
                           class="form-control"
                           id="imageWidth"
                           ng-model="model.widget.width"
                           placeholder="Image Width" />
                </div>
                <div class="form-group">
                    <a class="btn btn-primary btn-block"
                       href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/flickr">
                        Search
                    </a>
                </div>

                <form action="/api/upload"
                      method="post"
                      enctype="multipart/form-data">
                    <input name="myFile"
                           type="file"
                           class="form-control"/>
                    <input name="width"
                           value="{{model.widget.width}}"
                           style="display: none" />
                    <input name="userId"
                           value="{{model.userId}}"
                           style="display: none" />
                    <input name="websiteId"
                           value="{{model.websiteId}}"
                           style="display: none" />
                    <input name="pageId"
                           value="{{model.pageId}}"
                           style="display: none" />
                    <input name="widgetId"
                           value="{{model.widgetId}}"
                           style="display: none" />
                    <button type="submit"
                            class="btn btn-block btn-primary">Upload Image</button>
                </form>
            </div>

            <div ng-switch-when="YOUTUBE">
                <h3>YouTube</h3>
                <div class="form-group"
                     ng-class="{ 'has-error' : editWidgetForm.name.$invalid && editWidgetForm.$submitted}">
                    <label for="name">Name</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           name="name"
                           ng-model="model.widget.name"
                           placeholder="YouTube Name"
                           required />
                    <span class="help-block"
                          ng-show="editWidgetForm.name.$invalid && editWidgetForm.$submitted">
                        Please provide a name.
                    </span>
                </div>
                <div class="form-group">
                    <label for="youtubeBootstrapClass">Bootstrap Class</label>
                    <input ng-model="model.widget.class"
                           type="text"
                           class="form-control"
                           id="youtubeBootstrapClass"
                           placeholder="BootStrap class here" />
                </div>
                <div class="form-group">
                    <label for="text">Text</label>
                    <input type="text"
                           class="form-control"
                           id="text"
                           ng-model="model.widget.text"
                           placeholder="YouTube Text" />
                </div>
                <div class="form-group">
                    <label for="url">URL</label>
                    <input type="text"
                           class="form-control"
                           id="url"
                           ng-model="model.widget.url"
                           placeholder="YouTube URL" />
                </div>
                <div class="form-group">
                    <label for="width">Width</label>
                    <input type="number"
                           class="form-control"
                           id="width"
                           ng-model="model.widget.width"
                           placeholder="YouTube Width" />
                </div>
            </div>

            <form ng-switch-default>
                {{widget}}
            </form>
        </div>
    </form>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget()">Delete</a>
</form>
</div>