<!DOCTYPE html>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"
                          aria-hidden="true"></span>
                </a>
            </p>
            <span class="navbar-brand">
                Widgets
            </span>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-plus"
                          aria-hidden="true"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"
                          aria-hidden="true"></span>
                </a>
            </p>
            <p class="navbar-text pull-left">
                <a class="no-blue-link"
                   href="">
                    <span class="glyphicon glyphicon-play"
                          aria-hidden="true"></span>
                </a>
            </p>
            <p class="navbar-text pull-left">
                <a class="no-blue-link"
                   href="">
                <span class="glyphicon glyphicon-eye-open"
                      aria-hidden="true"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-show="model.success"
         class="alert alert-success"
         role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>{{model.success}}
    </div>

    <div ng-show="model.error"
         class="alert alert-danger"
         role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>{{model.error}}
    </div>

    <wam-sortable data="model"></wam-sortable>
</div>

<!--<div class="jw-widget">-->
    <!--<div class="jw-widget-tool pull-right">-->
        <!--<a href="widget-youtube.view.client.html">-->
            <!--<span class="glyphicon glyphicon-cog"-->
                  <!--aria-hidden="true"></span>-->
        <!--</a>-->
        <!--<span class="glyphicon glyphicon-menu-hamburger"-->
              <!--aria-hidden="true"></span>-->
    <!--</div>-->
    <!--<div class="embed-responsive embed-responsive-16by9">-->
        <!--<iframe width="100%"-->
                <!--src="https://www.youtube.com/embed/uLWLashCXHE"-->
                <!--frameborder="0"-->
                <!--allowfullscreen></iframe>-->
    <!--</div>-->
<!--</div>-->
